body {
	background-color: lightgrey;
	}
#bodycontainer{
	text-align:center;
}
#bodycenter{
	background-color: white;
	padding: 5px;
	max-width: 60%;
	font-family:san-serif;
	margin: auto auto auto auto;
	}

#headerimage{
	margin: 10px auto 10px auto;
}

.headerbuttons{
	display:inline;
	padding:2px;
	border: 2px solid lightblue;
	}
.skill{
	text-align: left;
	margin-bottom: 100px;
	border: 1px solid black;
	/*padding*/
	height:150px;
	/*margin:20px auto 200px 10px; */
	}
.skill_image{
		border: 1px dashed black;
		float: left;
		/*display:inline;*/
		width: 300px;
		/*margin-right: 5px;
		margin-bottom: 20px;
		*/
	}
.skill_descript{
		/*display:inline;*/
		text-align: left;
	}
#headercenter{
	text-align:center;
	font-family:Serif;
	background-color: skyblue;
	padding: 10px;
	width:100%;
	max-height: 20%;
	margin: 10px -5px 10px -10px;
	}
a{
	color:black;
	text-transform:uppercase;
	text-decoration:none;
	padding: 5px 10px 5 px 10px;
	}